body {
    font-family: "Pontano Sans";
    font-size: 12pt;
    background-color: #ffe065;
    background-color: #efefef;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.container {
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: Lobster;
    text-align: center;
    font-size: 6vh;
}
