<template name="editNote">

    <form id="new-note">
        <div class="container title center">
            <input id="title" class="title white" type="text" placeholder="{{title}}" value="{{title}}">
        </div>

        <div id="world" class="square-button">
            <i class="fa fa-map"></i>
        </div>

        <div class="container center description">
            <textarea id="description" class="description white" placeholder="{{description}}" value="{{description}}"></textarea>
        </div>

        <div id="scrolling">
            <ul id="color-picker">
            </ul>
        </div>

        <button id="post-button" type="submit" disabled>Update!</button>
    </form>
</template>
