.center {
    text-align: center;
}

#title::-webkit-input-placeholder {
    color: #999;
}

#description {
    width: 90vw;
    height: 58vh;
    margin-top: 2vh;
    font-size: 5vh;
    border: 0px;
    padding: 0px;
    font-family: "Pontano Sans";
    font-weight: 400;
}

#description:focus, #title:focus {
    outline: none;
}

.white {
    color: white;
}

#description::-webkit-input-placeholder {
    color: #999;
}

button {
    width: 100%;
    height: 10vh;
    font-size: 6vh;
    color: white;
    background-color: #f16745;
    border: 0px;
    font-family: Lobster;
    position: fixed;
    bottom: 0px;
}

#scrolling {
    overflow: hidden;
}

#scrolling ul {
    padding: 0px;
    list-style-type: none;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0px;
}

#scrolling ul li {
    height: 12vh;
    width: 12vh;
    margin: 2vh 0vh 2vh 0vh;
    float: left;
    padding: 1vh;
}

#scrolling ul li div {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.color-picker-title { height: 4vh; }
.color-picker-description { height: 8vh; }

.active-scheme {
    background-color: yellow;
}

.itemslide-active {
    background-color: yellow;
}

button:disabled {
    background-color: silver;
    cursor: default;
}

button {
    cursor: pointer;
}

#qr-container {
    display: none;
    height: 100vh;
    background-color: silver;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
}

#qr-close {
    height: 15vh;
    width: 15vh;
    position: absolute;
    top: 0vh;
    right: 0vh;
    font-size: 15vh;
    color: yellow;
    cursor: pointer;
}

#qr-view {
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: block;
}

#qr-view canvas {
    height: 50vh;
    width: 50vh;
}

.qr-square {
  height: 50vh;
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: block;
}

#qr-color {
  background-color: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.0;
  font-size: 30vh;
  text-align: center;
}

#qr-color i {
  display: block;
  margin-top: 8vh;
}

#key-input {
    height: 5vh;
    font-size: 4vh;
    width: 40vw;
    position: absolute;
    left: 30vw;
    bottom: 10vh;
    text-align: center;
}

#key-icon {
    font-size: 10vh;
    position: absolute;
    color: yellow;
    right: 71vw;
    font-weight: bold;
    bottom: 7vh;
}

@media print {
    body * {
        visibility: hidden;
    }

    #qr-container * {
        visibility: visible;
    }

    #qr-close, #qr-color {
        display: none;
    }

    #key-input {
        font-size: 12pt;
        width: 80vw;
        left: 10vw;
    }

    #key-icon {
        left: 2vw;
    }
}
