<template name="addNote">
    <h1>New Note</h1>
    <div class="main-container">
        <form id="new-note">
            <input id="title" type="text" placeholder="Emotions of the present">
            <textarea id="description" placeholder="I can only note that the past is beautiful because one never realises an emotion at the time. It expands later, and thus we don't have complete emotions about the present, only about the past."></textarea>
            <button type="submit">Post!</button>
        </form>
    </div>
</template>
